#sec{
	text-align:center;
	font-size:30px;
	background-color:yellow;
	
}
#min{
	text-align:center;
	font-size:30px;
	background-color:yellow;
	
}
#hr{
	text-align:center;
	font-size:30px;
	background-color:yellow;
	
}
#submit {
	text-align:center;
	font-size:50px;
	font-weight:bold;
	background-color:green;
	
}